{{#if session.isAuthenticated}}
  <ul>
    <li>Provider: {{session.data.authenticated.provider}}</li>
    <li>GitHub token: {{session.data.authenticated.authorizationCode}}</li>
  </ul>
  <button class="btn btn-primary" {{action 'logout'}}>logout</button>

{{else}}
<p>
  Not logged
</p>
{{/if}}
