<div class="jumbotron">
  <h1>Login</h1>

  {{#if session.isAuthenticated}}
    {{#link-to "auth" class="btn" }} Dashboard{{/link-to}}
  {{else}}
    <button class="btn btn-primary" {{action "login" }}>Github OAuth2</button>
  {{/if}}

  {{#if session.isWorking}}
    One sec while we get you signed in...
  {{/if}}
</div>
